{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
Sistema de Reclamos
{% endblock %}

{% block body %}
	<div class="container mx-auto my-4">
		<h1>Sistema de Reclamos FIUNER</h1>
		<h2>Iniciar Sesión</h2>
		
		{% with messages = get_flashed_messages() %}

			{% if messages %}

    			{% for message in messages %}

        			{{message}}

    			{% endfor %}

			{% endif %}

		{% endwith %}		

		<div class="row">
			<div class="col-lg-6">
                
                		{{ wtf.quick_form(form, novalidate=True) }}	
			</div>		
		</div>
		
	</div>
	<a href="/" class="btn btn-primary btn-block btn-large">Menú Principal</a>
{% endblock %}